{% extends 'base.html.twig' %}

{% block title %}New ClassicCars{% endblock %}

{% block body %}
	<div class="container mx-auto font-weight-bold">
	    <h1 class="text-center mb-5">Create new Classic Car</h1>
	    <div class="col-sm-7 mx-auto">
		    {{ include('classic_cars/_form.html.twig') }}
		    <a class="btn btn-dark w-100 mt-2" href="{{ path('classic_cars_index') }}">Back</a>
	    </div>
    </div>
{% endblock %}
